<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
			<form action="#" method="post">

    {{form.csrf_token}}
	    {{form.post_description(placeholder = 'Post Description', type='text')}}
        {{form.tag1(placeholder = 'tag1', type='text')}}
	    {{form.tag2(placeholder = 'tag2', type='text')}}
	    {{form.tag3(placeholder = 'tag3', type='text')}}
		<input type="submit" name = "action" value="Register">

            </form>
</body>
</html>