<!-- This is the code for html page of create post . This page has the side navigation and upper horixontal bar same as the home page .
It contains the create post form . 
The different options in the side navigation bar can be used to navigate through differnt functionaly of the website .
The post form had options to upload an image (this is optional ) , description and atmost 3 tags ( one tag is mandatory)
The tag field has a dropdown and the tags present in the dropdown can only be selected.
The form has a submit button which on clicking will post would be created.
The submit button on clicking changes the colour.
-->


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Facebook</title>
        
<!--         css and js files included  -->
        <link href="{{ url_for('static',filename='styles/home_style.css') }}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/post_create.css') }}">

    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
           
            <a class="navbar-brand" >Campus Facebook</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"  method="POST"  action="{{ url_for('home')}}">
                <div class="input-group">
                     <div class="input-group-append">
                       
                    </div>
                </div>
            </form>
            <!-- Navbar-(upper Horizontal bar)-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
<!--             side Navigation Bar -->
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">


                            <div class="sb-sidenav-menu-heading">Features</div>
                            <a class="nav-link" href="{{url_for('home')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                Home
                            </a>
                            <a class="nav-link" href="{{url_for('addevent')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Create Event
                            </a>
                            <a class="nav-link" href="{{url_for('create_post')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Create post
                            </a>
                            <a class="nav-link" href="{{url_for('calendar')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-calendar"></i></div>
                                view Calender
                            </a>
                        </div>
                    </div>

                </nav>
            </div>
            <div id="layoutSidenav_content" style="background: lightblue;">
                <main>
                    <div class="mainBody" style="background:lightblue;">
                    <div class="container-fluid">

                        <div class="main-w3layouts wrapper">
                            <h1>Post CREATE</h1>
                            <div class="main-agileinfo">
                                <div class="agileits-top">
<!--                                create post form required to fill in order to post      -->
                                    <form method="post" action="#" enctype="multipart/form-data">
                                        {{form.hidden_tag()}}

                                          {{form.post_img.label}}
                                          {{form.post_img}}
                                      </br>
                                      </br>
                                          {{form.post_description.label}}
                                          {{form.post_description}}
                                      </br>
                                          </br>
                                          {{form.tag1.label}}
                                          {{form.tag1}}
                                       </br>
                                    </br>
                                    </br>
                                          {{form.tag2.label}}
                                          {{form.tag2}}
                                    </br>
                                    </br>
                                          {{form.tag3.label}}
                                          {{form.tag3}}
                                        </br>
                                          </br>
                        <!--           submit button                       -->
                                          <input type="submit" value="post">   
                                      </form>
                                </div>
                            </div>


                        </div>

                    </div>
                        </div>
                </main>


            </div>
        </div>
<!--  javascript file for the toggle button of side navigation -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static',filename='javascript/home_script.js') }}"></script>

    </body>
</html>
