<!-- HTML of the login page where a user can login or register. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 	some bootstrap css and css present in the file are linked . The stylesheets linked are styles.css .-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   
    <title>Login</title>
</head>
<body>
   

    <div class="login-reg-panel">
		<div class="login-info-box">
			<h2>Have an account?</h2>
			
			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>
							
		<div class="register-info-box">
			<h2>Don't have an account?</h2>
			
			<label id="label-login" for="log-login-show">Register</label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>


		<div class="white-panel">
			<form method="POST" action="{{url_for('login')}}">
			<div class="login-show">
				<h2>LOGIN</h2>
				{{form1.csrf_token}}


				{{form1.mail_id(placeholder = 'Email', type='text')}}

				{{form1.password(placeholder = 'Password', type='password')}}
				<ul>
                {% for error in form1.password.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
				<input type="submit" name = "action" value="Login">
				<a href="{{url_for('reset_password_request')}}">Forgot password?</a>
			</div>
		</form>
			<form method="POST" action="{{url_for('login')}}">

			<div class="register-show">
				<h2>REGISTER</h2>
							{{form.csrf_token}}


				{{form.full_name(placeholder = 'Full Name', type='text')}}

				{{form.mail_id(placeholder = 'Email', type='text')}}
				<ul>
                {% for error in form.mail_id.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>

				{{form.year(placeholder = 'Joining year', type='number')}}

				{{form.department(placeholder = 'Department', type='text')}}

				{{form.degree(placeholder = 'Degree', type='text')}}

				{{form.password(placeholder = 'Password', type='password')}}
				<ul>
                {% for error in form.password.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>

				{{form.confirm_password(placeholder = 'Confirm password', type='password')}}
				<ul>
                {% for error in form.confirm_password.errors %}
                <li>{{error}}</li>
                {% endfor %}
            	</ul>
				<input type="submit" name = "action" value="Register">
			</div>

		</form>
	</div>
	</div>

    <script src="{{url_for('static', filename='javascript/script.js')}}"></script>

    
</body>
</html>
