<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/post_create.css') }}">
</head>
<body>
   
<!DOCTYPE html>
<html>
<head>
<title>Post Create</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Post CREATE</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="post">

    {{form.csrf_token}}
	    {{form.post_description(placeholder = 'Post Description', type='text')}}
        {{form.tag1(placeholder = 'tag1', type='text')}}
	    {{form.tag2(placeholder = 'tag2', type='text')}}
	    {{form.tag3(placeholder = 'tag3', type='text')}}
		<input type="submit" name = "action" value="Register">
				</form>
			</div>
		</div>
		
	</div>
	<!-- //main -->
</body>
</html>
</body>
</html>