
<!-- this corresponds to inheriting the features of base template correspong to email -->
{% extends "base.html" %}

{% block content %}
    <h1>Reset Your Password</h1>
<!--     form to collect the new password -->
    <form action="" method="post">
        
<!-- generates a hidden field that includes a token that is used to protect the form against CSRF attacks -->
        {{ form.hidden_tag() }}
        <p>
<!--             password label in jinja template form, all these fields are passed in the corrresponding route in application.py -->
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
<!--             used to display errors rightaway -->
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
<!--             confirm password field -->
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
<!--         submit button -->
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
