<!-- this corresponds to inheriting the features of base template correspong to email -->
{% extends "base.html" %}

{% block content %}
    <h1>Reset Password</h1>
<!--     form to collect the email id -->
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <!--   email label and input field in jinja template form, all these fields are passed in the corrresponding route in application.py -->
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            <!--  used to display errors rightaway -->
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <!--         submit button -->
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
