<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>seearch</title>
    <link href="{{ url_for('static',filename='styles/home_style.css') }}" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
</head>
<body>
    
<!--     if there are any posts  this is executed -->
{% if data %}
<!--       for every post in the data -->
      {% for d in data %}
                            <div class="card" style="margin-left: 200px;" >
                                <!-- <div class="post1"> -->
                                {% if d[4] %}
                                    <img src="{{url_for('static', filename = 'assets/image1.jpeg')}}" alt="image is here"
                                        style=" border-radius: 50%; height: 60px ; width: 60px; padding:10px 10px ;"
                                        /><br>
<!--                                                                                                 d[4] is the posted image -->
                                    <img src="data:image/jpeg;base64,{{d[4]}}" alt="image is here"
                                        height="400" width="575" style="padding-top: 10px;"/><br><br>

                                 {% endif %}

                                    <div id="post2text"  class="post1">
<!--                                                                                                   d[1] is user full name -->
                                        <p3>{{d[1]}} </p3>
                                        <p2>posted on  </p2>
<!--                                                                                                   d[3] is posted date -->
                                        <p1>{{d[3]}}</p1>

                                    </div>
                                    <div class="container">
<!--                                                                                                    d[2] is post description -->
                                        <h4><b>{{d[2]}} </b></h4>
<!--                                                                                                     d[5] is the mandatory tag and d[6],d[7] are optional tags (printed if they are present)  -->
                                        <p>{{d[5]}} {% if d[6] %} {{d[6]}} {% endif %} {% if d[7] %} {{d[7]}} {% endif %}</p>
                                      </div>

                                <!-- </div> -->
                            </div>
                            <br>
                            {% endfor %}
<!--                                                          if no posts are present -->
{% else %}
 <p> No posts with the searched tag <p>

{% endif %}


</body>
</html>
