{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" >  <!--to be checked--   image source to be added-->
        <div class="media-body">
<!--            to abe added again-->
<!--          <h2 class="account-heading">{{ current_user.full_name }}</h2>-->
<!--          <p class="text-secondary">{{ current_user.mail_id }}</p>-->
        </div>
      </div>
        <form method="POST" action="#" >   <!--to be included inside enctype="multipart/form-data">>-->
<!--          {{ form.hidden_tag() }}-->
            {{form.csrf_token}}
<!--            <fieldset class="form-group">-->
<!--                <legend class="border-bottom mb-4">Account Info</legend>  to be added-->
                <div class="form-group">
                    {{ form.full_name.label(class="form-control-label") }}

                    {% if form.full_name.errors %}
                        {{ form.full_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.full_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.full_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.mail_id.label(class="form-control-label") }}
                    {% if form.mail_id.errors %}
                        {{ form.mail_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.mail_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.mail_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.year.label(class="form-control-label") }}

                    {% if form.year.errors %}
                        {{ form.year(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.year.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.year(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.department.label(class="form-control-label") }}

                    {% if form.department.errors %}
                        {{ form.department(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.department.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.department(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.degree.label(class="form-control-label") }}

                    {% if form.degree.errors %}
                        {{ form.degree(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.degree.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.degree(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


<!--                        picture to be seen-->
                <div class="form-group">
                    {{ form.image_file.label() }}
                    {{ form.image_file(class="form-control-file") }}
                    {% if form.image_file.errors %}
                        {% for error in form.image_file.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}